<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<h1>Сервис оценок путешественниками</h1>

Тестовое задание:
Разработать Сервис оценок путешественниками достопримечательностей ( back-end часть ), который позволяет полноценно работать со всеми сущностями: манипулировать и получать выборки с различными фильтрами.

Сущности:

Достопримечательность (Sight):
Название
Удаленность от центра города
Город (City):
Название
Путешественник (Traveler):
Имя
Дополнительные запросы к сущностям для реализации:

достопримечательности в городе
города, которые посетил путешественник
путешественники побывавшие в городе
дополнительные фильтры будут плюсом
При выводе достопримечательности требуется указывать среднюю оценку, формируемую из оценок всех путешественников, так-же должна присутствовать фильтрация по средней оценке.

Основные требования к реализации:

ООП
REST-full API
Язык PHP 8.0+ (не просто номинальное использование, а применение возможностей этой версии языка)
База данных на выбор
Использование фреймворков:
Запрещены «большие» фреймворки(Laravel,Yii и ect.)
Разрешены «небольшие» фреймворки(для работы с базой или отстройки роутинга)

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>